In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

In [2]:
# Load the crypto_data.csv dataset.
file_path = "Database/New_CSV_Files/NBA_GAMESDATA.csv"
df = pd.read_csv(file_path)
df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612755,PHI,Philadelphia 76ers,22000905,2021-04-24,PHI @ MIL,L,240,94,...,0.735,10,31,41,15,11,4,17,20,-38.0
1,22020,1610612752,NYK,New York Knicks,22000904,2021-04-24,NYK vs. TOR,W,240,120,...,0.833,5,39,44,20,4,4,13,17,9.4
2,22020,1610612754,IND,Indiana Pacers,22000906,2021-04-24,IND vs. DET,NaN,109,56,...,0.769,4,14,18,14,5,4,2,10,10.0
3,22020,1610612761,TOR,Toronto Raptors,22000904,2021-04-24,TOR @ NYK,L,241,103,...,0.737,5,28,33,31,6,3,7,19,-6.0
4,22020,1610612765,DET,Detroit Pistons,22000906,2021-04-24,DET @ IND,NaN,120,49,...,0.750,10,19,29,11,1,3,10,11,-10.4
5,22020,1610612749,MIL,Milwaukee Bucks,22000905,2021-04-24,MIL vs. PHI,W,241,132,...,0.667,16,39,55,33,10,4,15,28,38.0
6,22020,1610612760,OKC,Oklahoma City Thunder,22000902,2021-04-23,OKC vs. WAS,L,239,109,...,0.840,14,26,40,18,12,7,16,17,-20.0
7,22020,1610612738,BOS,Boston Celtics,22000899,2021-04-23,BOS @ BKN,L,240,104,...,0.688,15,39,54,21,6,6,19,20,-5.0
8,22020,1610612764,WAS,Washington Wizards,22000902,2021-04-23,WAS @ OKC,W,238,129,...,0.938,12,38,50,25,7,7,20,23,20.0
9,22020,1610612766,CHA,Charlotte Hornets,22000900,2021-04-23,CHA vs. CLE,W,240,108,...,0.778,15,23,38,26,7,1,5,16,6.0

In [3]:
#Drop unnecessary columns
df = df.drop(['TEAM_ABBREVIATION', 'TEAM_NAME', 'MIN'], axis=1)
# Set Winning & Losing Columns
df['WIN'] = ['1' if x=='W' else '0' for x in df['WL']]

In [4]:
# Home Team has @ sign after name, so split match up column into three columns
# Home team have rows with @ symbol and away teams do not
df[['Team_1', 'symbol', 'Team_2']] = df.MATCHUP.str.split(expand=True)

In [5]:
df_home = df.loc[df['symbol'] == '@']
df_away = df.loc[df['symbol'] != '@']

In [6]:
#Change header names to HOME_[Column Name]
df_home.rename(columns={'TEAM_ID': 'HOME_TEAM_ID', 
                       'TEAM_NAME': 'HOME_TEAM_NAME', 
                        'PTS': 'HOME_PTS',
                        'FGM': 'HOME_FGM', 
                        'FGA': 'HOME_FGA',
                        'FG_PCT': 'HOME_FG_PCT', 
                        'FG3M': 'HOME_FG3M',
                        'FG3A': 'HOME_FG3A', 
                        'FG3_PCT': 'HOME_FG3_PCT',
                        'FTM': 'HOME_FTM', 
                        'FTA': 'HOME_FTA',
                        'FT_PCT': 'HOME_FT_PCT', 
                        'OREB': 'HOME_OREB',
                        'DREB': 'HOME_DREB',
                        'REB': 'HOME_REB',
                        'AST': 'HOME_AST',
                        'STL': 'HOME_STL',
                        'BLK': 'HOME_BLK',
                        'TOV': 'HOME_TOV',
                        'PF': 'HOME_PF',
                        'PLUS_MINUS': 'HOME_PLUS_MINUS',
                        'WIN': 'HOME_WIN'}, 
               inplace=True)

#Change header names to AWAY_[Column Name]
df_away.rename(columns={'TEAM_ID': 'AWAY_TEAM_ID',
                       'TEAM_NAME': 'AWAY_TEAM_NAME', 
                        'PTS': 'AWAY_PTS',
                        'FGM': 'AWAY_FGM', 
                        'FGA': 'AWAY_FGA',
                        'FG_PCT': 'AWAY_FG_PCT', 
                        'FG3M': 'AWAY_FG3M',
                        'FG3A': 'AWAY_FG3A', 
                        'FG3_PCT': 'AWAY_FG3_PCT',
                        'FTM': 'AWAY_FTM', 
                        'FTA': 'AWAY_FTA',
                        'FT_PCT': 'AWAY_FT_PCT', 
                        'OREB': 'AWAY_OREB',
                        'DREB': 'AWAY_DREB',
                        'REB': 'AWAY_REB',
                        'AST': 'AWAY_AST',
                        'STL': 'AWAY_STL',
                        'BLK': 'AWAY_BLK',
                        'TOV': 'AWAY_TOV',
                        'PF': 'AWAY_PF',
                        'PLUS_MINUS': 'AWAY_PLUS_MINUS',
                        'WIN': 'AWAY_WIN'}, 
               inplace=True)

/Users/jeromesimmons/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [7]:
df_home.head()
df_away.head()

,SEASON_ID,AWAY_TEAM_ID,GAME_ID,GAME_DATE,MATCHUP,WL,AWAY_PTS,AWAY_FGM,AWAY_FGA,AWAY_FG_PCT,...,AWAY_AST,AWAY_STL,AWAY_BLK,AWAY_TOV,AWAY_PF,AWAY_PLUS_MINUS,AWAY_WIN,Team_1,symbol,Team_2
1,22020,1610612752,22000904,2021-04-24,NYK vs. TOR,W,120,42,75,0.560,...,20,4,4,13,17,9.4,1,NYK,vs.,TOR
2,22020,1610612754,22000906,2021-04-24,IND vs. DET,NaN,56,20,44,0.455,...,14,5,4,2,10,10.0,0,IND,vs.,DET
5,22020,1610612749,22000905,2021-04-24,MIL vs. PHI,W,132,49,95,0.516,...,33,10,4,15,28,38.0,1,MIL,vs.,PHI
6,22020,1610612760,22000902,2021-04-23,OKC vs. WAS,L,109,39,93,0.419,...,18,12,7,16,17,-20.0,0,OKC,vs.,WAS
9,22020,1610612766,22000900,2021-04-23,CHA vs. CLE,W,108,40,94,0.426,...,26,7,1,5,16,6.0,1,CHA,vs.,CLE

In [8]:
#Drop unnecessary home team columns
df_home = df_home.drop(['MATCHUP', 'WL', 'Team_1', 'symbol', 'Team_2'], axis=1)
#Drop unnecessary away team columns
df_away = df_away.drop(['MATCHUP', 'WL', 'Team_1', 'symbol', 'Team_2'], axis=1)

In [9]:
df2 = df_home.merge(df_away, how = 'outer', on = 'GAME_ID')

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15009 entries, 0 to 15008
Data columns (total 47 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEASON_ID_x      15006 non-null  float64
 1   HOME_TEAM_ID     15006 non-null  float64
 2   GAME_ID          15009 non-null  int64
 3   GAME_DATE_x      15006 non-null  object
 4   HOME_PTS         15006 non-null  float64
 5   HOME_FGM         15006 non-null  float64
 6   HOME_FGA         15006 non-null  float64
 7   HOME_FG_PCT      15005 non-null  float64
 8   HOME_FG3M        15006 non-null  float64
 9   HOME_FG3A        15006 non-null  float64
 10  HOME_FG3_PCT     15004 non-null  float64
 11  HOME_FTM         15006 non-null  float64
 12  HOME_FTA         15006 non-null  float64
 13  HOME_FT_PCT      14981 non-null  float64
 14  HOME_OREB        15006 non-null  float64
 15  HOME_DREB        15006 non-null  float64
 16  HOME_REB         15006 non-null  float64
 17  HOME_AST         15006 non-null  float64
 18  HOME_STL         15006 non-null  float64
 19  HOME_BLK         15006 non-null  float64
 20  HOME_TOV         15006 non-null  float64
 21  HOME_PF          15006 non-null  float64
 22  HOME_PLUS_MINUS  14940 non-null  float64
 23  HOME_WIN         15006 non-null  object
 24  SEASON_ID_y      15004 non-null  float64
 25  AWAY_TEAM_ID     15004 non-null  float64
 26  GAME_DATE_y      15004 non-null  object
 27  AWAY_PTS         15004 non-null  float64
 28  AWAY_FGM         15004 non-null  float64
 29  AWAY_FGA         15004 non-null  float64
 30  AWAY_FG_PCT      15003 non-null  float64
 31  AWAY_FG3M        15004 non-null  float64
 32  AWAY_FG3A        15004 non-null  float64
 33  AWAY_FG3_PCT     15001 non-null  float64
 34  AWAY_FTM         15004 non-null  float64
 35  AWAY_FTA         15004 non-null  float64
 36  AWAY_FT_PCT      14977 non-null  float64
 37  AWAY_OREB        15004 non-null  float64
 38  AWAY_DREB        15004 non-null  float64
 39  AWAY_REB         15004 non-null  float64
 40  AWAY_AST         15004 non-null  float64
 41  AWAY_STL         15004 non-null  float64
 42  AWAY_BLK         15004 non-null  float64
 43  AWAY_TOV         15004 non-null  float64
 44  AWAY_PF          15004 non-null  float64
 45  AWAY_PLUS_MINUS  14938 non-null  float64
 46  AWAY_WIN         15004 non-null  object
dtypes: float64(42), int64(1), object(4)
memory usage: 5.5+ MB

In [11]:
#Drop unnecessary merged columns
df2 = df2.drop(['GAME_DATE_y', 'SEASON_ID_y', 'AWAY_WIN'], axis=1)
#Drop NA Values
df2 = df2.dropna()
df2

,SEASON_ID_x,HOME_TEAM_ID,GAME_ID,GAME_DATE_x,HOME_PTS,HOME_FGM,HOME_FGA,HOME_FG_PCT,HOME_FG3M,HOME_FG3A,...,AWAY_FT_PCT,AWAY_OREB,AWAY_DREB,AWAY_REB,AWAY_AST,AWAY_STL,AWAY_BLK,AWAY_TOV,AWAY_PF,AWAY_PLUS_MINUS
0,22020.0,1.610613e+09,22000905,2021-04-24,94.0,31.0,82.0,0.378,7.0,31.0,...,0.667,16.0,39.0,55.0,33.0,10.0,4.0,15.0,28.0,38.0
1,22020.0,1.610613e+09,22000904,2021-04-24,103.0,36.0,83.0,0.434,17.0,44.0,...,0.833,5.0,39.0,44.0,20.0,4.0,4.0,13.0,17.0,9.4
2,22020.0,1.610613e+09,22000906,2021-04-24,49.0,18.0,44.0,0.409,4.0,14.0,...,0.769,4.0,14.0,18.0,14.0,5.0,4.0,2.0,10.0,10.0
3,22020.0,1.610613e+09,22000899,2021-04-23,104.0,38.0,94.0,0.404,17.0,42.0,...,0.857,6.0,41.0,47.0,26.0,12.0,7.0,11.0,19.0,5.0
4,22020.0,1.610613e+09,22000902,2021-04-23,129.0,48.0,93.0,0.516,18.0,32.0,...,0.840,14.0,26.0,40.0,18.0,12.0,7.0,16.0,17.0,-20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14999,22014.0,1.612710e+09,2021400028,2014-11-22,102.0,36.0,78.0,0.462,2.0,13.0,...,0.760,10.0,35.0,45.0,16.0,11.0,4.0,14.0,33.0,-4.0
15000,22014.0,1.610613e+09,21400185,2014-11-22,99.0,37.0,71.0,0.521,12.0,26.0,...,0.704,18.0,26.0,44.0,18.0,10.0,2.0,14.0,20.0,-7.0
15001,22014.0,1.612710e+09,2021400026,2014-11-22,101.0,34.0,78.0,0.436,8.0,17.0,...,0.800,14.0,31.0,45.0,20.0,5.0,4.0,13.0,25.0,-8.0
15002,22014.0,1.612710e+09,2021400030,2014-11-22,90.0,33.0,84.0,0.393,6.0,23.0,...,0.871,6.0,37.0,43.0,19.0,10.0,5.0,15.0,22.0,13.0
15004,22014.0,1.610613e+09,21400189,2014-11-22,113.0,40.0,81.0,0.494,8.0,26.0,...,0.778,15.0,22.0,37.0,23.0,10.0,7.0,10.0,24.0,-12.0

In [12]:
#Rename SEASON_ID and GAME_DATE columns
df2.rename(columns={'GAME_DATE_x': 'GAME_DATE', 
                       'SEASON_ID_x': 'SEASON_ID'}, 
               inplace=True)

In [13]:
df2['GAME_DATE'] = df['GAME_DATE'].astype('datetime64[D]')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14883 entries, 0 to 15004
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEASON_ID        14883 non-null  float64
 1   HOME_TEAM_ID     14883 non-null  float64
 2   GAME_ID          14883 non-null  int64
 3   GAME_DATE        14883 non-null  datetime64[ns]
 4   HOME_PTS         14883 non-null  float64
 5   HOME_FGM         14883 non-null  float64
 6   HOME_FGA         14883 non-null  float64
 7   HOME_FG_PCT      14883 non-null  float64
 8   HOME_FG3M        14883 non-null  float64
 9   HOME_FG3A        14883 non-null  float64
 10  HOME_FG3_PCT     14883 non-null  float64
 11  HOME_FTM         14883 non-null  float64
 12  HOME_FTA         14883 non-null  float64
 13  HOME_FT_PCT      14883 non-null  float64
 14  HOME_OREB        14883 non-null  float64
 15  HOME_DREB        14883 non-null  float64
 16  HOME_REB         14883 non-null  float64
 17  HOME_AST         14883 non-null  float64
 18  HOME_STL         14883 non-null  float64
 19  HOME_BLK         14883 non-null  float64
 20  HOME_TOV         14883 non-null  float64
 21  HOME_PF          14883 non-null  float64
 22  HOME_PLUS_MINUS  14883 non-null  float64
 23  HOME_WIN         14883 non-null  object
 24  AWAY_TEAM_ID     14883 non-null  float64
 25  AWAY_PTS         14883 non-null  float64
 26  AWAY_FGM         14883 non-null  float64
 27  AWAY_FGA         14883 non-null  float64
 28  AWAY_FG_PCT      14883 non-null  float64
 29  AWAY_FG3M        14883 non-null  float64
 30  AWAY_FG3A        14883 non-null  float64
 31  AWAY_FG3_PCT     14883 non-null  float64
 32  AWAY_FTM         14883 non-null  float64
 33  AWAY_FTA         14883 non-null  float64
 34  AWAY_FT_PCT      14883 non-null  float64
 35  AWAY_OREB        14883 non-null  float64
 36  AWAY_DREB        14883 non-null  float64
 37  AWAY_REB         14883 non-null  float64
 38  AWAY_AST         14883 non-null  float64
 39  AWAY_STL         14883 non-null  float64
 40  AWAY_BLK         14883 non-null  float64
 41  AWAY_TOV         14883 non-null  float64
 42  AWAY_PF          14883 non-null  float64
 43  AWAY_PLUS_MINUS  14883 non-null  float64
dtypes: datetime64[ns](1), float64(41), int64(1), object(1)
memory usage: 5.1+ MB

In [14]:
df2.drop_duplicates(subset=['GAME_ID'], keep='first')
df2["HOME_WIN"] = df2["HOME_WIN"].astype(str).astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14883 entries, 0 to 15004
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEASON_ID        14883 non-null  float64
 1   HOME_TEAM_ID     14883 non-null  float64
 2   GAME_ID          14883 non-null  int64
 3   GAME_DATE        14883 non-null  datetime64[ns]
 4   HOME_PTS         14883 non-null  float64
 5   HOME_FGM         14883 non-null  float64
 6   HOME_FGA         14883 non-null  float64
 7   HOME_FG_PCT      14883 non-null  float64
 8   HOME_FG3M        14883 non-null  float64
 9   HOME_FG3A        14883 non-null  float64
 10  HOME_FG3_PCT     14883 non-null  float64
 11  HOME_FTM         14883 non-null  float64
 12  HOME_FTA         14883 non-null  float64
 13  HOME_FT_PCT      14883 non-null  float64
 14  HOME_OREB        14883 non-null  float64
 15  HOME_DREB        14883 non-null  float64
 16  HOME_REB         14883 non-null  float64
 17  HOME_AST         14883 non-null  float64
 18  HOME_STL         14883 non-null  float64
 19  HOME_BLK         14883 non-null  float64
 20  HOME_TOV         14883 non-null  float64
 21  HOME_PF          14883 non-null  float64
 22  HOME_PLUS_MINUS  14883 non-null  float64
 23  HOME_WIN         14883 non-null  int64
 24  AWAY_TEAM_ID     14883 non-null  float64
 25  AWAY_PTS         14883 non-null  float64
 26  AWAY_FGM         14883 non-null  float64
 27  AWAY_FGA         14883 non-null  float64
 28  AWAY_FG_PCT      14883 non-null  float64
 29  AWAY_FG3M        14883 non-null  float64
 30  AWAY_FG3A        14883 non-null  float64
 31  AWAY_FG3_PCT     14883 non-null  float64
 32  AWAY_FTM         14883 non-null  float64
 33  AWAY_FTA         14883 non-null  float64
 34  AWAY_FT_PCT      14883 non-null  float64
 35  AWAY_OREB        14883 non-null  float64
 36  AWAY_DREB        14883 non-null  float64
 37  AWAY_REB         14883 non-null  float64
 38  AWAY_AST         14883 non-null  float64
 39  AWAY_STL         14883 non-null  float64
 40  AWAY_BLK         14883 non-null  float64
 41  AWAY_TOV         14883 non-null  float64
 42  AWAY_PF          14883 non-null  float64
 43  AWAY_PLUS_MINUS  14883 non-null  float64
dtypes: datetime64[ns](1), float64(41), int64(2)
memory usage: 5.1 MB

In [15]:
# sort dataframe by date
#df = df.sort_values(by='GAME_DATE_EST').reset_index(drop = True)
# drop empty entries, data before 2004 contains NaN
#df = df.loc[df['GAME_DATE_EST'] >= "2004-01-01"].reset_index(drop=True)
# check null
#df.isnull().values.any() 
#df.drop_duplicates(subset=['GAME_ID'], keep='first')
#df.info()
#df = df.dropna()
#df['GAME_DATE_EST'] = df['GAME_DATE_EST'].astype('datetime64[D]')
#df.info()
#df['GAME_STATUS_TEXT'] = df['GAME_STATUS_TEXT'].astype('str')
#df.info()
# sort datafrom by date
#df = df[df.SEASON > 2014]
#df.isnull().values.any()

In [16]:
df2.to_csv('Resources/games_final.csv', index=True)