In [1]:
import pandas as pd
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [2]:
df = pd.DataFrame(nba_teams)

In [3]:
df.to_csv (r'C:\Users\ravip\OneDrive\Bootcamp\GitHub\Predicting_NBA_Outcomes\Database\New CSV Files\NBA_TEAMDATA.csv', index = False, header=True)

In [4]:
import pandas as pd
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4501

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [5]:
df = pd.DataFrame(nba_players)

In [6]:
df.to_csv (r'C:\Users\ravip\OneDrive\Bootcamp\GitHub\Predicting_NBA_Outcomes\Database\New CSV Files\NBA_PLAYERDATA.csv', index = False, header=True)

In [7]:
import pandas as pd
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder()
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612755,PHI,Philadelphia 76ers,0022000905,2021-04-24,PHI @ MIL,L,240,94,...,0.735,10,31,41,15,11,4,17,20,-38.0
1,22020,1610612752,NYK,New York Knicks,0022000904,2021-04-24,NYK vs. TOR,W,240,120,...,0.833,5,39,44,20,4,4,13,17,9.4
2,22020,1610612754,IND,Indiana Pacers,0022000906,2021-04-24,IND vs. DET,None,109,56,...,0.769,4,14,18,14,5,4,2,10,10.0
3,22020,1610612761,TOR,Toronto Raptors,0022000904,2021-04-24,TOR @ NYK,L,241,103,...,0.737,5,28,33,31,6,3,7,19,-6.0
4,22020,1610612765,DET,Detroit Pistons,0022000906,2021-04-24,DET @ IND,None,120,49,...,0.750,10,19,29,11,1,3,10,11,-10.4

In [8]:
df = pd.DataFrame(games)

In [9]:
df.to_csv (r'C:\Users\ravip\OneDrive\Bootcamp\GitHub\Predicting_NBA_Outcomes\Database\New CSV Files\NBA_GAMESDATA.csv', index = False, header=True)

In [1]:
import pandas as pd
from nba_api.stats.endpoints import playbyplayv2

In [2]:
pbp = playbyplayv2.PlayByPlayV2(game_id)
pbp = pbp.get_data_frames()[0]
pbp.head()

NameError: name 'game_id' is not defined