In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [11]:
# Import our input dataset
games_df = pd.read_csv("games.csv")
games_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-03-21,22000645,Final,1610612748,1610612754,2020,1610612748,106.0,0.402,0.826,...,27.0,51.0,1610612754,109.0,0.388,0.900,0.333,27.0,50.0,0
1,2021-03-21,22000016,Final,1610612745,1610612760,2020,1610612745,112.0,0.494,0.741,...,22.0,38.0,1610612760,114.0,0.462,0.680,0.333,22.0,52.0,0
2,2021-03-21,22000646,Final,1610612743,1610612740,2020,1610612743,108.0,0.500,0.800,...,30.0,37.0,1610612740,113.0,0.482,0.767,0.286,26.0,45.0,0
3,2021-03-21,22000167,Final,1610612738,1610612753,2020,1610612738,112.0,0.455,1.000,...,27.0,45.0,1610612753,96.0,0.381,0.700,0.324,20.0,44.0,1
4,2021-03-21,22000647,Final,1610612751,1610612764,2020,1610612751,113.0,0.489,0.727,...,24.0,35.0,1610612764,106.0,0.532,0.789,0.333,24.0,43.0,1

In [19]:
# Generate our categorical variable list
games_cat = games_df.dtypes[games_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
games_df[games_cat].nunique()

GAME_DATE_EST       3892
GAME_STATUS_TEXT       1
dtype: int64

In [21]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
basketball_df = pd.DataFrame(enc.fit_transform(games_df[games_cat]))

# Add the encoded variable names to the dataframe
basketball_df.columns = enc.get_feature_names(games_cat)
basketball_df.head()

,GAME_DATE_EST_2003-10-05,GAME_DATE_EST_2003-10-06,GAME_DATE_EST_2003-10-07,GAME_DATE_EST_2003-10-08,GAME_DATE_EST_2003-10-09,GAME_DATE_EST_2003-10-10,GAME_DATE_EST_2003-10-11,GAME_DATE_EST_2003-10-12,GAME_DATE_EST_2003-10-13,GAME_DATE_EST_2003-10-14,...,GAME_DATE_EST_2021-03-13,GAME_DATE_EST_2021-03-14,GAME_DATE_EST_2021-03-15,GAME_DATE_EST_2021-03-16,GAME_DATE_EST_2021-03-17,GAME_DATE_EST_2021-03-18,GAME_DATE_EST_2021-03-19,GAME_DATE_EST_2021-03-20,GAME_DATE_EST_2021-03-21,GAME_STATUS_TEXT_Final
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0