In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as t

In [93]:
# Connecting to datasets
from sqlalchemy import create_engine

In [94]:
###"postgres://[postgres]:[NBATeam123$3]@[127.0.0.1]:[5432]/[my_data_class_db] 52497"

db_string = f"postgres://root:NBATeam123$@mypostgredb.ct8fvcfbdols.us-west-2.rds.amazonaws.com:5432/my_data_class_db"


###engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

##db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

engine = create_engine(db_string)

In [ ]:
##games_df.to_sql(name='nba', con=engine)

In [95]:
query_string = """SELECT RECORD_ID, 
SEASON_ID, 
HOME_TEAM_ID, 
GAME_ID, 
GAME_DATE,
HOME_PTS, 
HOME_FGM, 
HOME_FGA, 
HOME_FG_PCT, 
HOME_FG3M, 
HOME_FG3A, 
HOME_FG3_PCT, 
HOME_FTA, 
HOME_FT_PCT, 
HOME_OREB, 
HOME_DREB, 
HOME_REB, 
HOME_AST, 
HOME_STL, 
HOME_BLK, 
HOME_TOV, 
HOME_PF, 
HOME_PLUS_MINUS, 
HOME_WIN, 
AWAY_TEAM_ID, 
AWAY_PTS, 
AWAY_FGM, 
AWAY_FGA, 
AWAY_FG_PCT, 
AWAY_FG3M, 
AWAY_FG3A, 
AWAY_FG3_PCT, 
AWAY_FTA, 
AWAY_FT_PCT, 
AWAY_OREB, 
AWAY_DREB, 
AWAY_REB, 
AWAY_AST, 
AWAY_STL, 
WAY_BLK, 
AWAY_TOV, 
AWAY_PF, 
AWAY_PLUS_MINUS,
TEAM_ID,
LEAGUE_ID,
SEASON_ID, 
STANDINGSDATE,
CONFERENCE,
TEAM,
G,
W,
L,
W_PCT,
HOME_RECORD,
ROAD_RECORD,
RETURNTOPLAY,
team_type
"""
query_df = pd.read_sql(query_string, django.db.connection)
query_df.to_csv(output_file_path, encoding="utf-8", index=False)

NameError: name 'django' is not defined

In [96]:

games_df = pd.read_sql("SELECT * from nba_data", db_string)
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17839 entries, 0 to 17838
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEASON_ID        17839 non-null  int64
 1   HOME_TEAM_ID     17839 non-null  int64
 2   GAME_ID          17839 non-null  float64
 3   GAME_DATE        17839 non-null  object
 4   HOME_PTS         17839 non-null  int64
 5   HOME_FGM         17839 non-null  int64
 6   HOME_FGA         17839 non-null  int64
 7   HOME_FG_PCT      17839 non-null  float64
 8   HOME_FG3M        17839 non-null  int64
 9   HOME_FG3A        17839 non-null  int64
 10  HOME_FG3_PCT     17839 non-null  float64
 11  HOME_FTA         17839 non-null  int64
 12  HOME_FT_PCT      17839 non-null  float64
 13  HOME_OREB        17839 non-null  int64
 14  HOME_DREB        17839 non-null  int64
 15  HOME_REB         17839 non-null  int64
 16  HOME_AST         17839 non-null  int64
 17  HOME_STL         17839 non-null  int64
 18  HOME_BLK         17839 non-null  int64
 19  HOME_TOV         17839 non-null  int64
 20  HOME_PF          17839 non-null  int64
 21  HOME_PLUS_MINUS  17839 non-null  float64
 22  HOME_WIN         17839 non-null  int64
 23  AWAY_TEAM_ID     17839 non-null  int64
 24  AWAY_PTS         17839 non-null  int64
 25  AWAY_FGM         17839 non-null  int64
 26  AWAY_FGA         17839 non-null  int64
 27  AWAY_FG_PCT      17839 non-null  float64
 28  AWAY_FG3M        17839 non-null  int64
 29  AWAY_FG3A        17839 non-null  int64
 30  AWAY_FG3_PCT     17839 non-null  float64
 31  AWAY_FTA         17839 non-null  int64
 32  AWAY_FT_PCT      17839 non-null  float64
 33  AWAY_OREB        17839 non-null  int64
 34  AWAY_DREB        17839 non-null  int64
 35  AWAY_REB         17839 non-null  int64
 36  AWAY_AST         17839 non-null  int64
 37  AWAY_STL         17839 non-null  int64
 38  WAY_BLK          17839 non-null  int64
 39  AWAY_TOV         17839 non-null  int64
 40  AWAY_PF          17839 non-null  int64
 41  AWAY_PLUS_MINUS  17839 non-null  float64
 42  TEAM_ID          17839 non-null  int64
 43  LEAGUE_ID        17839 non-null  int64
 44  STANDINGSDATE    17839 non-null  object
 45  CONFERENCE       17839 non-null  object
 46  TEAM             17839 non-null  object
 47  G                17839 non-null  int64
 48  W                17839 non-null  int64
 49  L                17839 non-null  int64
 50  W_PCT            17839 non-null  float64
 51  HOME_RECORD      17839 non-null  object
 52  ROAD_RECORD      17839 non-null  object
 53  RETURNTOPLAY     371 non-null    object
 54  team_type        17839 non-null  object
dtypes: float64(10), int64(37), object(8)
memory usage: 7.5+ MB

In [98]:
# Import our input dataset

#games_df = games_df.drop(["GAME_DATE_EST", "GAME_ID","GAME_STATUS_TEXT", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "TEAM_ID_home", "TEAM_ID_away"], axis=1)

games_df = games_df.drop(["RETURNTOPLAY", "GAME_DATE", "STANDINGSDATE", "LEAGUE_ID", "HOME_RECORD", "ROAD_RECORD"], axis=1)


games_df = games_df.dropna()

#games_df = pd.get_dummies(games_df, columns = ['team_type'])

games_df.head()

,SEASON_ID,HOME_TEAM_ID,GAME_ID,HOME_PTS,HOME_FGM,HOME_FGA,HOME_FG_PCT,HOME_FG3M,HOME_FG3A,HOME_FG3_PCT,...,AWAY_PF,AWAY_PLUS_MINUS,TEAM_ID,CONFERENCE,TEAM,G,W,L,W_PCT,team_type
0,12015,93,11500024.0,84,29,80,0.363,9,31,0.290,...,23,13.0,1610612763,West,Memphis,81,22,59,0.272,Away Team
1,12015,93,11500043.0,83,33,86,0.384,7,30,0.233,...,13,43.0,1610612747,West,L.A. Lakers,81,34,47,0.420,Away Team
2,12015,12321,11500008.0,101,37,76,0.487,11,21,0.524,...,19,-5.0,1610612751,East,Brooklyn,80,27,53,0.338,Away Team
3,12015,12321,11500034.0,81,33,88,0.375,8,27,0.296,...,14,30.0,1610612760,West,Oklahoma City,81,47,34,0.580,Away Team
4,12015,12328,11500021.0,81,30,81,0.370,11,43,0.256,...,17,19.0,1610612752,East,New York,81,28,53,0.346,Away Team

In [99]:
games_df.describe

<bound method NDFrame.describe of        SEASON_ID  HOME_TEAM_ID     GAME_ID  HOME_PTS  HOME_FGM  HOME_FGA  \
0          12015            93  11500024.0        84        29        80
1          12015            93  11500043.0        83        33        86
2          12015         12321  11500008.0       101        37        76
3          12015         12321  11500034.0        81        33        88
4          12015         12328  11500021.0        81        30        81
...          ...           ...         ...       ...       ...       ...
17834      42019    1610612762  41900165.0       107        39        78
17835      42019    1610612762  41900167.0        78        30        79
17836      42019    1610612762  41900167.0        78        30        79
17837      52019    1610612763  51900111.0       122        45        92
17838      52019    1610612763  51900111.0       122        45        92

       HOME_FG_PCT  HOME_FG3M  HOME_FG3A  HOME_FG3_PCT  ...  AWAY_PF  \
0            0.363          9         31         0.290  ...       23
1            0.384          7         30         0.233  ...       13
2            0.487         11         21         0.524  ...       19
3            0.375          8         27         0.296  ...       14
4            0.370         11         43         0.256  ...       17
...            ...        ...        ...           ...  ...      ...
17834        0.500         16         34         0.471  ...       18
17835        0.380          8         34         0.235  ...       18
17836        0.380          8         34         0.235  ...       18
17837        0.489         14         25         0.560  ...       19
17838        0.489         14         25         0.560  ...       19

       AWAY_PLUS_MINUS     TEAM_ID  CONFERENCE           TEAM   G   W   L  \
0                 13.0  1610612763        West        Memphis  81  22  59
1                 43.0  1610612747        West    L.A. Lakers  81  34  47
2                 -5.0  1610612751        East       Brooklyn  80  27  53
3                 30.0  1610612760        West  Oklahoma City  81  47  34
4                 19.0  1610612752        East       New York  81  28  53
...                ...         ...         ...            ...  ..  ..  ..
17834             10.0  1610612762        West           Utah  28  23   5
17835              2.0  1610612743        West         Denver  27  15  12
17836              2.0  1610612762        West           Utah  28  23   5
17837              4.0  1610612757        West       Portland  25  15  10
17838              4.0  1610612763        West        Memphis  21  10  11

       W_PCT  team_type
0      0.272  Away Team
1      0.420  Away Team
2      0.338  Away Team
3      0.580  Away Team
4      0.346  Away Team
...      ...        ...
17834  0.821  Home Team
17835  0.556  Away Team
17836  0.821  Home Team
17837  0.600  Away Team
17838  0.476  Home Team

[17839 rows x 49 columns]>

In [100]:
# Get datatypes
games_df.dtypes

SEASON_ID            int64
HOME_TEAM_ID         int64
GAME_ID            float64
HOME_PTS             int64
HOME_FGM             int64
HOME_FGA             int64
HOME_FG_PCT        float64
HOME_FG3M            int64
HOME_FG3A            int64
HOME_FG3_PCT       float64
HOME_FTA             int64
HOME_FT_PCT        float64
HOME_OREB            int64
HOME_DREB            int64
HOME_REB             int64
HOME_AST             int64
HOME_STL             int64
HOME_BLK             int64
HOME_TOV             int64
HOME_PF              int64
HOME_PLUS_MINUS    float64
HOME_WIN             int64
AWAY_TEAM_ID         int64
AWAY_PTS             int64
AWAY_FGM             int64
AWAY_FGA             int64
AWAY_FG_PCT        float64
AWAY_FG3M            int64
AWAY_FG3A            int64
AWAY_FG3_PCT       float64
AWAY_FTA             int64
AWAY_FT_PCT        float64
AWAY_OREB            int64
AWAY_DREB            int64
AWAY_REB             int64
AWAY_AST             int64
AWAY_STL             int64
WAY_BLK              int64
AWAY_TOV             int64
AWAY_PF              int64
AWAY_PLUS_MINUS    float64
TEAM_ID              int64
CONFERENCE          object
TEAM                object
G                    int64
W                    int64
L                    int64
W_PCT              float64
team_type           object
dtype: object

In [101]:
# Generate our categorical variable list
games_cat = games_df.dtypes[games_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
games_df[games_cat].nunique()

CONFERENCE     2
TEAM          30
team_type      2
dtype: int64

In [102]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(games_df[games_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(games_cat)
encode_df.head()

,CONFERENCE_East,CONFERENCE_West,TEAM_Atlanta,TEAM_Boston,TEAM_Brooklyn,TEAM_Charlotte,TEAM_Chicago,TEAM_Cleveland,TEAM_Dallas,TEAM_Denver,...,TEAM_Philadelphia,TEAM_Phoenix,TEAM_Portland,TEAM_Sacramento,TEAM_San Antonio,TEAM_Toronto,TEAM_Utah,TEAM_Washington,team_type_Away Team,team_type_Home Team
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [103]:
# Get datatypes
games_df.dtypes

SEASON_ID            int64
HOME_TEAM_ID         int64
GAME_ID            float64
HOME_PTS             int64
HOME_FGM             int64
HOME_FGA             int64
HOME_FG_PCT        float64
HOME_FG3M            int64
HOME_FG3A            int64
HOME_FG3_PCT       float64
HOME_FTA             int64
HOME_FT_PCT        float64
HOME_OREB            int64
HOME_DREB            int64
HOME_REB             int64
HOME_AST             int64
HOME_STL             int64
HOME_BLK             int64
HOME_TOV             int64
HOME_PF              int64
HOME_PLUS_MINUS    float64
HOME_WIN             int64
AWAY_TEAM_ID         int64
AWAY_PTS             int64
AWAY_FGM             int64
AWAY_FGA             int64
AWAY_FG_PCT        float64
AWAY_FG3M            int64
AWAY_FG3A            int64
AWAY_FG3_PCT       float64
AWAY_FTA             int64
AWAY_FT_PCT        float64
AWAY_OREB            int64
AWAY_DREB            int64
AWAY_REB             int64
AWAY_AST             int64
AWAY_STL             int64
WAY_BLK              int64
AWAY_TOV             int64
AWAY_PF              int64
AWAY_PLUS_MINUS    float64
TEAM_ID              int64
CONFERENCE          object
TEAM                object
G                    int64
W                    int64
L                    int64
W_PCT              float64
team_type           object
dtype: object

In [104]:
# Merge one-hot encoded features and drop the originals
games_df = games_df.merge(encode_df,left_index=True, right_index=True)
games_df = games_df.drop(games_cat,1)
games_df.head()

,SEASON_ID,HOME_TEAM_ID,GAME_ID,HOME_PTS,HOME_FGM,HOME_FGA,HOME_FG_PCT,HOME_FG3M,HOME_FG3A,HOME_FG3_PCT,...,TEAM_Philadelphia,TEAM_Phoenix,TEAM_Portland,TEAM_Sacramento,TEAM_San Antonio,TEAM_Toronto,TEAM_Utah,TEAM_Washington,team_type_Away Team,team_type_Home Team
0,12015,93,11500024.0,84,29,80,0.363,9,31,0.290,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,12015,93,11500043.0,83,33,86,0.384,7,30,0.233,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,12015,12321,11500008.0,101,37,76,0.487,11,21,0.524,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,12015,12321,11500034.0,81,33,88,0.375,8,27,0.296,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,12015,12328,11500021.0,81,30,81,0.370,11,43,0.256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [105]:
# Remove HOME_TEAM_WINS target from features data
y = games_df.HOME_WIN 
X = games_df.drop(columns=["HOME_WIN"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [106]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.998

In [107]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[2544,    4],
       [   4, 1908]])

In [108]:
!pip install imblearn

Requirement already satisfied: imblearn in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from imblearn) (0.8.0)
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.19.4)
Requirement already satisfied: scipy>=0.19.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3 -m pip install --upgrade pip' command.

In [109]:

from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      2548
          1       1.00      1.00      1.00      1.00      1.00      1.00      1912

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      4460

In [110]:
import tensorflow as tf

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
419/419 [==============================] - 3s 2ms/step - loss: 0.4997 - accuracy: 0.7246
Epoch 2/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0642 - accuracy: 0.9789
Epoch 3/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0313 - accuracy: 0.9907: 0s - loss: 0.0315 - accuracy:
Epoch 4/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0210 - accuracy: 0.9942
Epoch 5/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0141 - accuracy: 0.9966
Epoch 6/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0088 - accuracy: 0.9985
Epoch 7/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0077 - accuracy: 0.9980
Epoch 8/50
419/419 [==============================] - 1s 3ms/step - loss: 0.0057 - accuracy: 0.9986
Epoch 9/50
419/419 [==============================] - 1s 3ms/step - loss: 0.0044 - accuracy: 0.9989: 0s - loss: 0.0041 - accu
Epoch 10/50
419/419 [==============================] - 2s 4ms/step - loss: 0.0031 - accuracy: 0.9995
Epoch 11/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0029 - accuracy: 0.9994
Epoch 12/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0021 - accuracy: 0.9997
Epoch 13/50
419/419 [==============================] - 1s 3ms/step - loss: 0.0015 - accuracy: 0.9996: 0s - loss: 0.0016
Epoch 14/50
419/419 [==============================] - 1s 3ms/step - loss: 8.2063e-04 - accuracy: 1.0000
Epoch 15/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 0.9997
Epoch 16/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0025 - accuracy: 0.9990
Epoch 17/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0043 - accuracy: 0.9985
Epoch 18/50
419/419 [==============================] - 1s 2ms/step - loss: 7.9220e-04 - accuracy: 0.9999
Epoch 19/50
419/419 [==============================] - 1s 3ms/step - loss: 3.8711e-04 - accuracy: 1.0000
Epoch 20/50
419/419 [==============================] - 1s 3ms/step - loss: 2.4005e-04 - accuracy: 1.0000
Epoch 21/50
419/419 [==============================] - 1s 2ms/step - loss: 1.5611e-04 - accuracy: 1.0000
Epoch 22/50
419/419 [==============================] - 1s 3ms/step - loss: 1.0194e-04 - accuracy: 1.0000
Epoch 23/50
419/419 [==============================] - 1s 3ms/step - loss: 7.9219e-05 - accuracy: 1.0000
Epoch 24/50
419/419 [==============================] - 2s 5ms/step - loss: 6.3114e-05 - accuracy: 1.0000
Epoch 25/50
419/419 [==============================] - 1s 3ms/step - loss: 7.1684e-05 - accuracy: 1.0000: 0s - loss: 7.1679e-05 - accuracy: 1.
Epoch 26/50
419/419 [==============================] - 1s 2ms/step - loss: 5.2655e-05 - accuracy: 1.0000
Epoch 27/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0035 - accuracy: 0.9993
Epoch 28/50
419/419 [==============================] - 1s 2ms/step - loss: 0.0072 - accuracy: 0.9981
Epoch 29/50
419/419 [==============================] - 1s 2ms/step - loss: 6.0580e-04 - accuracy: 1.0000
Epoch 30/50
419/419 [==============================] - 1s 3ms/step - loss: 1.5855e-04 - accuracy: 1.0000
Epoch 31/50
419/419 [==============================] - 2s 4ms/step - loss: 2.4467e-04 - accuracy: 1.0000
Epoch 32/50
419/419 [==============================] - 1s 3ms/step - loss: 7.0342e-05 - accuracy: 1.0000
Epoch 33/50
419/419 [==============================] - 1s 2ms/step - loss: 6.4494e-05 - accuracy: 1.0000
Epoch 34/50
419/419 [==============================] - 1s 2ms/step - loss: 5.2752e-05 - accuracy: 1.0000
Epoch 35/50
419/419 [==============================] - 1s 2ms/step - loss: 5.3664e-05 - accuracy: 1.0000
Epoch 36/50
419/419 [==============================] - 1s 2ms/step - loss: 4.1238e-05 - accuracy: 1.0000
Epoch 37/50
419/419 [==============================] - 1s 3ms/step - loss: 3.1358e-05 - accuracy: 1.0000
Epoch 38/50
419/419 [==============================] - 1s 3ms/step - loss: 2.6441e-05 - accuracy: 1.0000
Epoch 39/50
419/419 [==============================] - 1s 2ms/step - loss: 3.1897e-05 - accuracy: 1.0000
Epoch 40/50
419/419 [==============================] - 1s 2ms/step - loss: 2.9023e-05 - accuracy: 1.0000
Epoch 41/50
419/419 [==============================] - 1s 3ms/step - loss: 2.1230e-05 - accuracy: 1.0000
Epoch 42/50
419/419 [==============================] - 1s 2ms/step - loss: 1.5756e-05 - accuracy: 1.0000
Epoch 43/50
419/419 [==============================] - 1s 3ms/step - loss: 1.3249e-05 - accuracy: 1.0000: 0s - loss: 1.3099e-05 - accuracy
Epoch 44/50
419/419 [==============================] - 1s 3ms/step - loss: 1.1122e-05 - accuracy: 1.0000
Epoch 45/50
419/419 [==============================] - 1s 3ms/step - loss: 8.5124e-06 - accuracy: 1.0000
Epoch 46/50
419/419 [==============================] - 1s 2ms/step - loss: 7.3323e-06 - accuracy: 1.0000
Epoch 47/50
419/419 [==============================] - 1s 3ms/step - loss: 6.8374e-06 - accuracy: 1.0000
Epoch 48/50
419/419 [==============================] - 1s 3ms/step - loss: 4.8789e-06 - accuracy: 1.0000
Epoch 49/50
419/419 [==============================] - 1s 2ms/step - loss: 4.9912e-06 - accuracy: 1.0000
Epoch 50/50
419/419 [==============================] - 1s 3ms/step - loss: 4.4239e-06 - accuracy: 1.0000
140/140 - 0s - loss: 0.0296 - accuracy: 0.9948
Loss: 0.029636893421411514, Accuracy: 0.994843065738678